.notes {
    border-top: 1px solid black;
}

.notes p {
    font-size: 12px;
}

.note {
    border: 1px solid black;
    margin: 10px;
}

.note h3 {
    font-size: 16px;
}

.note h3:hover {
    cursor: pointer;
    color: orange;
}

.add-note {
    display: inline-block;
}

.add-note button {
    height: 20px;
}