#current-note-date {
    font-size: 12px;
}

#current-note-title {
    font-size: 22px;
}

#current-note-title:hover {
    cursor: pointer;
    color: orange;
}

#content:hover {
    cursor: pointer;
    color: orange;
}

.options {
    display: flex;
    justify-content: end;
    height: 25px;
}

